:root {
  /* Body and qr Code Component color */
  --body-bg-color: hsl(212, 45%, 89%);
  --bg-component-color: hsl(0, 0%, 100%);

  /* Font color for title and desc */
  --title-color: hsl(218, 44%, 22%);
  --component-text-color: hsl(216, 15%, 48%);
  --frontend-mentor: hsl(228, 45%, 44%);

  /* Box-shadow */
  --shadow-color: rgba(0, 0, 0, 0.1);

  /* radius */
  --radius-lg: 1.5rem; /* For the card's outer corners */
  --radius-md: 1rem; /* For the image's inner corners */

  /* padding */
  --padding-inline: 0.8rem;
  --padding-lg: 2rem;
  --padding-md: 1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* 15 ÷ 16 × 100 = 93.75% of their browser default */
  font-size: 93.75%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Outfit", sans-serif;
  background-color: var(--body-bg-color);
}

.main {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---- QR-code Component ---- */

.qr-code {
  /* Box-model */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--padding-md);
  /* clamp(minimum, preferred, maximum) */
  /* "Be at least 280px, ideally 90% of screen, but never more than 320px" */
  width: clamp(18.667rem, 90%, 21.333rem);
  padding: var(--padding-md) var(--padding-md) var(--padding-lg);

  /* Visuals */
  background-color: var(--bg-component-color);
  border-radius: var(--radius-lg);
  box-shadow: 0 10px 30px var(--shadow-color);
}

.qr-code__img {
  display: block;
  max-width: 100%;
  height: auto;

  border-radius: var(--radius-md);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.qr-code__title {
  padding: 0 var(--padding-inline);

  /* Responsive Font Approch */
  font-size: clamp(1.125rem, 2.5vw, 1.375rem);
  font-weight: 700;
  color: var(--title-color);
  text-align: center;
}

.qr-code__description {
  padding: 0 var(--padding-inline);

  font-size: clamp(0.875rem, 2vw, 1rem);
  color: var(--component-text-color);
  text-align: center;
  line-height: 1.5;
}

/* ---- Footer Attribution ----*/
.attribution {
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  text-align: center;

  color: var(--component-text-color);
  padding: var(--padding-md);
}
.attribution a {
  color: var(--frontend-mentor);
  text-decoration: none;
  font-weight: 700;

  transition: opacity 0.3s ease;
}

.attribution a:hover {
  opacity: 0.7;
}

/* Reduced Motion Accessibility for medical conditions (like epilepsy or vertigo  */
@media (prefers-reduced-motion: reduce) {
  *,
  .attribution a {
    animation: none;
    transition: none;
  }
}
